
@model IEnumerable<ConnectionSearchEngineMVC.Models.ReservationRegister>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdministratorPanel</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
        <p></p>
    <p align="center" style="font-size:30px">Panel administratora</p>
        <p></p>
    <p align="center" style="font-size:25px">Rejestr rezerwacji </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Imie i nazwisko</th>
                <th>Email</th>
                <th>Stacja początkowa</th>
                <th>Stacja końcowa</th>
                <th>Godzina odjazdu </th>
                <th>Godzina przybycia </th>
                <th>Nr pociągu </th>
                <th>Data rezerwacji </th>
                <th>Edytuj </th>
                <th>Usuń </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.SurName</td>
                <td>@i.Email</td>
                <td>@i.FirstStation</td>
                <td>@i.SecondStation</td>
                <td>@i.FirstArrival</td>
                <td>@i.SecondArrival</td>
                <td>@i.Train</td>
                <td>@i.Date.Date</td>
                <td>@Html.ActionLink("Edytuj", "EditReservation", "Home", new { id = @i.Id }, null)</td>
                <td>@Html.ActionLink("Usuń", "DeleteReservation", "Home", new { id = @i.Id }, null)</td>
            </tr>
            }

        </tbody>
    </table>
        </div>


</body>
</html>
