
@model IEnumerable<ConnectionSearchEngineMVC.Models.ReservationRegister>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdministratorPanel</title>
</head>
<body>
    <p align="center">Panel administratora</p>
    <p>Rejestr rezerwacji </p>
    <table class="table">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Imie i nazwisko</th>
                <th>Email</th>
                <th>Stacja początkowa</th>
                <th>Stacja końcowa</th>
                <th>Godzina odjazdu </th>
                <th>Godzina przybycia </th>
                <th>Nr pociągu </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.SurName</td>
                <td>@i.Email</td>
                <td>@i.FirstStation</td>
                <td>@i.SecondStation</td>
                <td>@i.FirstArrival</td>
                <td>@i.SecondArrival</td>
                <td>@i.Train</td>
            </tr>
            }

        </tbody>
    </table>


</body>
</html>
